<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KeePet - Premium Pet Sitter</title>
    <link href="/css/puppy.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
<header>
    <div id="logo"><a href="/cat"><img src="/images/logocat.png" width="80px" height="40px" alt="logo"></a></div>
</header>


<h2>장모종 종류와 특징, 입양 전 필수 확인 조건</h2>


<section class="main-banner">
    <div><img alt="글 배너" src="/images/catindex.png"/></div>
</section>

<h2>🐱 장모종 정보 정리 🐱</h2>

<section class="content">
    <p style="text-align: center">✅ 장모종 (긴 털)<br></p>
    📌 대표 품종: 페르시안, 메인쿤, 랙돌, 히말라얀<br>
</section>
<section class="slider-container">
    <div class="slider-wrapper">
        <div class="dog-slider">
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/페르시안.png">
                <span class="name">페르시안</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/메인쿤.png">
                <span class="name">메인쿤</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/랙돌.png">
                <span class="name">랙돌</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/히말라얀.png">
                <span class="name">히말라얀</span>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <p style="text-align: center">🔹 특징<br></p>
    ✅ 우아한 외모와 부드러운 긴 털이 특징<br>
    ✅ 성격이 순한 경우가 많으며 사람과 교감이 많음<br>
    ✅ 털 관리가 가장 까다롭고, 장모 특유의 엉킴 문제가 발생
</section>

<section class="content">
    <p style="text-align: center">⚠️ 주의사항<br></p>
    ⚠️ 매일 빗질 필수 (엉킴 방지)<br>
    ⚠️ 눈물 자국이 생기기 쉬운 품종(페르시안, 히말라얀)은 관리 필요<br>
    ⚠️ 헤어볼 예방을 위해 장모용 사료나 간식 급여
</section>

<section class="content">
    <p style="text-align: center">🩺 자주 발생하는 질병<br></p>
    🩺 신장 질환 (특히 페르시안)<br>
    🩺 다낭성 신장질환 (PKD)<br>
    🩺 비대성 심근증 (특히 메인쿤)
</section>

<section class="content">
    <p style="text-align: center">💬 후기:<br></p>
    💬 "털 관리가 힘들긴 하지만, 안아주면 보들보들한 털 덕분에 기분이 좋아요!"<br>
    💬 "매일 빗질해도 집안 곳곳에 털이 날려서 로봇청소기가 필수예요."
</section>


<footer>
    <p>© 2025 KeePet. All rights reserved.</p>
</footer>
</body>
<script>



</script>
</html>
