<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KeePet - Premium Pet Sitter</title>
    <link href="/css/puppy.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
<header>
    <div id="logo"><a href="/cat"><img src="/images/logocat.png" width="80px" height="40px" alt="logo"></a></div>
</header>


<h2>중단모종 종류와 특징, 입양 전 필수 확인 조건</h2>


<section class="main-banner">
    <div><img alt="글 배너" src="/images/catindex.png"/></div>
</section>

<h2>🐱 중단모종 정보 정리 🐱</h2>

<section class="content">
    <p style="text-align: center">✅ 중모종 (중간 길이 털)<br></p>
    📌 대표 품종: 터키시앙고라, 라가머핀, 노르웨이숲<br>
</section>
<section class="slider-container">
    <div class="slider-wrapper">
        <div class="dog-slider">
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/터키시앙고라.png">
                <span class="name">터키시앙고라</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/라가머핀.png">
                <span class="name">라가머핀</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/노르웨이숲.png">
                <span class="name">노르웨이숲</span>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <p style="text-align: center">🔹 특징<br></p>
    ✅ 털이 부드럽고 풍성하지만 장모종보다는 관리가 쉬움<br>
    ✅ 성격이 온순하고 사람을 잘 따르는 경우가 많음<br>
    ✅ 활동량이 적당히 있으며 점프력이 뛰어난 경우가 많음
</section>

<section class="content">
    <p style="text-align: center">⚠️ 주의사항<br></p>
    ⚠️ 주 2~3회 이상 빗질 필요 (엉킴 방지)<br>
    ⚠️ 털이 길어 헤어볼 문제 주의 (헤어볼 제거 간식 필수)<br>
    ⚠️ 높은 곳을 좋아하는 경향이 있어 캣타워 필수
</section>

<section class="content">
    <p style="text-align: center">🩺 자주 발생하는 질병<br></p>
    🩺 신장 질환 (특히 터키시앙고라)<br>
    🩺 심장 질환 (특히 라가머핀)<br>
    🩺 소화 문제 (헤어볼로 인한 구토)
</section>

<section class="content">
    <p style="text-align: center">💬 후기:<br></p>
    💬 "단모종보다 털이 부드러워 만지는 맛이 좋지만 빗질은 신경 써야 해요."<br>
    💬 "너무 예쁜데 가끔 엉킨 털을 잘라줘야 해서 손이 좀 가요."
</section>


<footer>
    <p>© 2025 KeePet. All rights reserved.</p>
</footer>
</body>
<script>



</script>
</html>
