<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KeePet - Premium Pet Sitter</title>
    <link href="/css/puppy.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
<header>
    <div id="logo"><a href="/cat"><img src="/images/logocat.png" width="80px" height="40px" alt="logo"></a></div>
</header>


<h2>헤어리스종 종류와 특징, 입양 전 필수 확인 조건</h2>


<section class="main-banner">
    <div><img alt="글 배너" src="/images/catindex.png"/></div>
</section>

<h2>🐱 헤어리스(무모)종 정보 정리 🐱</h2>

<section class="content">
    <p style="text-align: center">✅ 무모종 (털 없음)<br></p>
    📌 대표 품종: 스핑크스, 도곤스킨, 밤비노<br>
</section>
<section class="slider-container">
    <div class="slider-wrapper">
        <div class="dog-slider">
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/스핑크스.png">
                <span class="name">스핑크스</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/도곤스킨.png">
                <span class="name">도곤스킨</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/밤비노.png">
                <span class="name">밤비노</span>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <p style="text-align: center">🔹 특징<br></p>
    ✅ 피부가 노출되어 있어 체온 유지가 어렵고, 햇볕에 약함<br>
    ✅ 피지 분비가 많아 주기적인 목욕 필수<br>
    ✅ 애교가 많고 활발한 성격
</section>

<section class="content">
    <p style="text-align: center">⚠️ 주의사항<br></p>
    ⚠️ 체온 조절이 어려워 여름에는 냉방 주의, 겨울에는 보온 필수<br>
    ⚠️ 햇볕을 오래 쬐면 화상을 입을 수 있음<br>
    ⚠️ 피부가 예민하므로 전용 보습제 사용
</section>

<section class="content">
    <p style="text-align: center">🩺 자주 발생하는 질병<br></p>
    🩺 여드름, 피부염, 건조로 인한 가려움<br>
    🩺 비대성 심근증 (HCM)<br>
    🩺 면역력 약화로 인한 감기
</section>

<section class="content">
    <p style="text-align: center">💬 후기:<br></p>
    💬 "털이 안 날려서 좋지만, 피지 관리가 어렵고 자주 씻겨야 해요."<br>
    💬 "다른 고양이보다 체온 조절에 신경 써야 해서 난방, 보온 관리가 필수!"
</section>


<footer>
    <p>© 2025 KeePet. All rights reserved.</p>
</footer>
</body>
<script>



</script>
</html>
