<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KeePet - Premium Pet Sitter</title>
    <link href="/css/puppy.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
<header>
    <div id="logo"><a href="/cat"><img src="/images/logocat.png" width="80px" height="40px" alt="logo"></a></div>
</header>


<h2>단모종 종류와 특징, 입양 전 필수 확인 조건</h2>


<section class="main-banner">
    <div><img alt="글 배너" src="/images/catindex.png"/></div>
</section>

<h2>🐱 단모종 정보 정리 🐱</h2>

<section class="content">
    <p style="text-align: center">✅ 단모종 (짧은 털)<br></p>
    📌 대표 품종: 코리안숏헤어, 러시안블루, 브리티시숏헤어, 아비시니안<br>
</section>
<section class="slider-container">
    <div class="slider-wrapper">
        <div class="dog-slider">
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/코리안숏헤어.png">
                <span class="name">코리안숏헤어</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/러시안블루.png">
                <span class="name">러시안블루</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/브리티시숏헤어.png">
                <span class="name">브리티시숏헤어</span>
            </div>
            <div class="slider-item">
                <img alt="소형묘 3" src="/images/cats/아비니시안.png">
                <span class="name">아비니시안</span>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <p style="text-align: center">🔹 특징<br></p>
    ✅ 털이 짧아 빗질이 비교적 쉬움<br>
    ✅ 활동량이 많고 독립적인 성격이 많음<br>
    ✅ 관리가 비교적 쉬운 편
</section>

<section class="content">
    <p style="text-align: center">⚠️ 주의사항<br></p>
    ⚠️ 환절기 털갈이가 심할 수 있음 (짧지만 빠지는 양이 많음)<br>
    ⚠️ 활동량이 많아 충분한 놀이 필요<br>
    ⚠️ 일부 품종(러시안블루, 브리티시쇼트헤어 등)은 비만에 주의
</section>

<section class="content">
    <p style="text-align: center">🩺 자주 발생하는 질병<br></p>
    🩺 하부요로계 질환(FLUTD)<br>
    🩺 비대성 심근증 (특히 브리티시숏헤어)<br>
    🩺 알레르기성 피부염
</section>

<section class="content">
    <p style="text-align: center">💬 후기:<br></p>
    💬 "털이 짧아서 관리는 쉽지만 털이 날리긴 해요."<br>
    💬 "운동량이 많아 집에 혼자 두면 심심해할 수 있어요."
</section>


<footer>
    <p>© 2025 KeePet. All rights reserved.</p>
</footer>
</body>
<script>



</script>
</html>
